{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1> Listes des chambres de l'hotel</h1>
    {{dump(chambres)}}

</div>
{% endblock %}
